body {
  background-color: aliceblue;
}

#dashboard {
  text-align: center;
  padding-top: 25px;
}

.xrayCapture {
  background-color: #ddd;
  border-radius: 7px;
  margin: 10px 0px 0px 10px;
  width: 240px;
  height: 240px;
}

.grid-container {
  display: grid;
}