<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard Page</title>
</head>

<body>
    <div id="dashboard">
        <h1><i>Dashboard</i> Page</h1>
        <p>src\pages\dashboard\dashboard.html</p>

        <div>
            <h3 id="classCodeDisplay"></h3>
        </div>

        <!-- Generating a new classroom -->
        <div id="startSessionArea">
            <form>
                <label for="classroom">Name:</label><br>
                <input type="text" id="classroomGenerator" name="classroom" value="" placeholder="Edward"><br>
            </form>

            <button id="generatorBtn">Generate</button>
        </div>

        <!-- Ending a current session -->
        <div class="hidden" id="endSessionArea">
            <button id="endSessionBtn">End Session</button>
        </div>

        <!-- Launching a basic website -->
        <div>
            <form>
                <label for="websiteURL">Website:</label><br>
                <input type="text" id="website" name="websiteURL" value="" placeholder="www.lumination.com.au"><br>
            </form>

            <button id="launchURL">Launch</button>
        </div>

        <!-- Containers to hold the screen shot images -->
        <div id="followerContainer" class="grid-container">
        </div>
    </div>
</body>

</html>