<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Popup Page</title>
</head>

<body>
    <!-- If there is no saved class code -->
    <div id="popup">
        <h1 class="text-3xl">Popup Page</h1>
        <h3>Please enter your class code</h3>

        <form class="flex justify-center">
            <input class="pinInput" maxlength="1" />
            <input class="pinInput" maxlength="1" />
            <input class="pinInput" maxlength="1" />
            <input class="pinInput" maxlength="1" />
        </form>

        <div id="code-block" class="hidden special">
            <button id="connectBtn">Connect</button>
            <br />
            <i id="resetCode">Reset </i>
        </div>

        <p id="error"></p>

        <p id="login" class="hidden">Login </p>
        <p id="logout" class="hidden">Logout </p>
        <div id="firebaseui-auth-container" class="firebase-auth"></div>
    </div>

    <!-- If there is a saved class code -->
    <div id="endSession" class="hidden">
        <button id="assistantBtn">Assistant</button>
        <button id="endSessionBtn">End Session</button>
    </div>
</body>

</html>